<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/dealManage.css">
    <link rel="stylesheet" type="text/css" href="/css/dealHistory.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="/js/menu.js"></script>
    <title>거래내역 | ET마켓</title>
    <link rel="icon" href="/image/favicon.ico" type="image/x-icon">
</head>

<body>
<div th:replace="~{fragments/header :: menu1}">메뉴1부분</div>
<div th:replace="~{fragments/header :: menu2}">메뉴2부분</div>

<div class="sc-dTsoBL qMyCA">
    <div class="sc-btewqU IQTNO">
        <nav class="sc-hAnkBK bvTSLH">
            <div class="sc-bJTOcE bwpcVz">
                <a class="sc-DNdyV ihLswr" th:href="@{/deal/manage}">상품등록</a>
            </div>
            <div class="sc-bJTOcE cxNxJu">
                <a class="sc-DNdyV ihLswr" th:href="@{/deal/manage}">상품관리</a>
            </div>
            <div class="sc-bJTOcE bwpcVz">
                <a class="sc-geAPOV fEXFkE" th:href="@{/deal/history}" >거래내역</a>
            </div>
        </nav>
    </div>

    <div class="sc-kWHCRG iWvVoD">
        <main class="sc-AUpyg iPTxLm">
            <header class="sc-ijnzTp iWlavc">
                <form class="sc-fUdGnz fUdmwl" style="margin-right: 1rem;" method="GET" action="/deal/manage">
                    <input type="text" name="keyword" placeholder="상품명을 입력해주세요." value="" />
                    <button type="submit" class="sc-dzOgQY bXZIiF"></button>
                </form>
                <div style="display: flex; align-items: center; margin-left: auto;">
                    <div id="select-3">
                        <div id="option-list-3" style="display: flex; column-gap: 24px;">
                            <a class="item_status" id="sell-history" href="#">판매내역</a>
                            <a class="item_status" id="buy-history" href="#">구매내역</a>
                        </div>
                    </div>
                </div>
            </header>
                   <!-- <section class="itemList TZQfU" th:replace="~{fragments/dealHistoryFragment :: dealHistoryContent}">-->
                        <section class="itemList TZQfU" >
                </section>
        </main>
    </div>

    <div th:replace="~{fragments/footer :: company}">기업설명부분</div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('sell-history').addEventListener('click', function (event) {
            event.preventDefault();
            loadHistory('sell');
        });

        document.getElementById('buy-history').addEventListener('click', function (event) {
            event.preventDefault();
            loadHistory('buy');
        });

        function loadHistory(type) {
            fetch(`/deal/history/${type}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.text();
                })
                .then(html => {
                    console.log(html);  // 서버에서 반환된 HTML 내용을 콘솔에 출력
                    var itemList = document.querySelector('.itemList'); // 클래스 선택자로 변경
                    if (itemList) {
                        itemList.innerHTML = html;
                    } else {
                        console.error('Element with class "itemList" not found.');
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    });

</script>
</body>
</html>
