<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/mypage.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="/js/menu.js"></script>
    <title>Title</title>
    <link rel="icon" href="image/favicon.ico" type="image/x-icon">
</head>
<body>
<div th:replace="fragments/header :: menu1">메뉴1부분</div>

<div th:replace="fragments/header :: menu2">메뉴2부분</div>

<div class="sc-dTsoBL qMyCA">
    <div class="sc-btewqU IQTNO">
        <nav class="sc-hAnkBK bvTSLH">
            <div class="sc-bJTOcE bwpcVz">
                <a class="sc-DNdyV ihLswr" href="/products/new">상품등록</a></div>
            <div class="sc-bJTOcE cxNxJu">
                <a class="sc-DNdyV ihLswr" href="/products/manage">상품관리</a></div>
            <div class="sc-bJTOcE bwpcVz"><a href="" target="_blank" rel="noopener noreferrer" class="sc-geAPOV fEXFkE">구매/판매 내역</a></div>
        </nav>
    </div>
    <div class="sc-kWHCRG iWvVoD">
        <main class="sc-AUpyg iPTxLm">
            <header class="sc-ijnzTp iWlavc">
                <form class="sc-fUdGnz fUdmwl" style="margin-right: 1rem;">
                    <input type="text" placeholder="상품명을 입력해주세요." value="">
                    <button type="submit" class="sc-dzOgQY bXZIiF"></button>
                </form>
                <div class="sc-jOBXIr gbcRtW">
                    <div class=" css-2b097c-container">
                        <div class="sc-jOVcOr hWDzUk">
                            <div class=" css-1hwfws3">
                                <div class=" css-1uccc91-singleValue">10개씩</div>
                                <input id="react-select-13-input" readonly="" tabindex="0" aria-autocomplete="list" class="css-62g3xt-dummyInput" value=""></div>
                            <div class="sc-gCwZxT byUzHg"></div>
                        </div>
                    </div>
                </div>
                <div style="display: flex; align-items: center; margin-left: auto;">
                    <div id="select-3">
                        <div id="option-list-3" style="display: flex; column-gap: 24px;">
                            <div data-selected="true" style="font-weight: 500; line-height: normal; cursor: pointer; color: rgb(216, 12, 24);">전체</div>
                            <div data-selected="false" style="font-weight: 500; line-height: normal; cursor: pointer; color: rgb(127, 127, 127);">판매중</div>
                            <div data-selected="false" style="font-weight: 500; line-height: normal; cursor: pointer; color: rgb(127, 127, 127);">예약중</div>
                            <div data-selected="false" style="font-weight: 500; line-height: normal; cursor: pointer; color: rgb(127, 127, 127);">판매완료</div>
                        </div>
                    </div>
                    <div style="width: 1px; height: 16px; margin-left: 20px; margin-right: 20px; background-color: rgb(204, 204, 204);"></div>
                    <div id="select-4"><div id="option-list-4" style="display: flex; align-items: center; column-gap: 24px;">
                        <div data-selected="false" style="font-weight: 500; line-height: normal; cursor: pointer; color: rgb(127, 127, 127);">숨김</div>
                    </div>
                    </div>
                </div>
            </header>
            <table>
                <thead>
                <tr>
                    <th>사진</th>
                    <th>판매상태</th>
                    <th>상품명</th>
                    <th>가격</th>
                    <th>찜</th>
                    <th>최근수정일</th>
                    <th>기능</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <a href="">
                            <img src="/image/sample.png" alt="상품이미지"></a>
                    </td>
                    <td>
                        <div class=" css-2b097c-container">
                            <!-- <div class="sc-jOVcOr hWDzUk">
                                 <div class=" css-1hwfws3">
                                     <div class=" css-1uccc91-singleValue">판매중</div>
                                     <input id="react-select-14-input" readonly="" tabindex="0" aria-autocomplete="list" class="css-62g3xt-dummyInput" value="">
                                 </div>
                                 <div class="sc-gCwZxT byUzHg"></div>
                             </div>-->
                            <div class="dropdown">
                                <select id="status-select" class="dropdown-select" onchange="toggleArrow()">
                                    <option value="판매중">판매중</option>
                                    <option value="예약중">예약중</option>
                                    <option value="삭제">삭제</option>
                                    <option value="판매완료">판매완료</option>
                                </select>
                                <i id="arrow-icon" class="bi bi-chevron-down"></i>
                            </div>
                            <script src="/js/mypage.js"></script>
                            <div class="sc-gCwZxT byUzHg"></div>
                        </div>
                    </td>
                    <td>
                        <a href="">ET인형</a>
                    </td>
                    <td>23,000원</td>
                    <td>3</td>
                    <td>2024-06-14 09:18</td>
                    <td>
                        <button type="button" class="sc-giOsra icHCql" style="margin-bottom: 0.5rem;">UP</button>
                        <button class="sc-giOsra icHCql" style="color: rgb(2, 122, 255); margin-bottom: 0.5rem;"><a href="/products/218822145/edit">수정</a>
                        </button>
                        <button type="button" class="sc-giOsra icHCql" style="color: rgb(2, 122, 255);">상품숨김</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </main>
        <footer class="sc-SFOxd ixyKiO">
            <div class="sc-enfXDO iCFmWL">
                <a class="sc-dBfaGr jMDqkK">
                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDEyIDEyIj4KICAgIDxwYXRoIGZpbGw9IiM5Qjk5QTkiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTMuNiAxMmEuNTk2LjU5NiAwIDAgMCAuNDQ5LS4yMDJsNC44LTUuNGEuNi42IDAgMCAwIDAtLjc5N2wtNC44LTUuNGEuNi42IDAgMSAwLS44OTcuNzk3TDcuNTk4IDYgMy4xNTIgMTFBLjYuNiAwIDAgMCAzLjYgMTIiLz4KPC9zdmc+Cg==" width="12" height="12" alt="페이징 아이콘" class="sc-jgVwMx bBWlXb"></a>
                <a class="sc-dBfaGr kGDJWS">1</a>
                <a class="sc-dBfaGr kcYvdk">2</a>
                <a class="sc-dBfaGr kcYvdk">3</a>
                <a class="sc-dBfaGr kcYvdk">4</a>
                <a class="sc-dBfaGr kcYvdk">5</a>
                <a class="sc-dBfaGr kcYvdk">6</a>
                <a class="sc-dBfaGr kcYvdk">7</a>
                <a class="sc-dBfaGr jMDqkK">
                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDEyIDEyIj4KICAgIDxwYXRoIGZpbGw9IiM5Qjk5QTkiIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTMuNiAxMmEuNTk2LjU5NiAwIDAgMCAuNDQ5LS4yMDJsNC44LTUuNGEuNi42IDAgMCAwIDAtLjc5N2wtNC44LTUuNGEuNi42IDAgMSAwLS44OTcuNzk3TDcuNTk4IDYgMy4xNTIgMTFBLjYuNiAwIDAgMCAzLjYgMTIiLz4KPC9zdmc+Cg==" width="12" height="12" alt="페이징 아이콘"></a>
            </div>
        </footer>
    </div>

    <div th:replace="fragments/footer :: company">기업설명부분</div>
</div>
</body>
</html>