<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="sc-kEmuub dfsUMO">
        <div>찜<span class="sc-fHSTwm dLpRgo">1</span></div>
    </div>
    <div class="sc-cCbXAZ csJElQ">
        <div class="sc-hdPSEv lnBpRH">
            <div class="sc-cmIlrE kEasLh">
                <div class="sc-fHxwqH foqDNf"></div>
                <button class="sc-jvEmr hwayJk">선택삭제</button>
            </div>
            <div class="sc-gleUXh dRITiR">
                <a class="sc-doWzTn gdwvHm">최신순</a>
                <a class="sc-doWzTn kvYcBO">인기순</a>
                <a class="sc-doWzTn kvYcBO">저가순</a>
                <a class="sc-doWzTn kvYcBO">고가순</a></div>
        </div>
        <div class="sc-dTLGrV irojwT">
            <div class="sc-ivVeuv fyCynF">
                <a class="sc-cEvuZC kAXfEi" href="/products/255540526?ref=%EC%B0%9C">
                    <div class="sc-dvCyap hwfvVn">
                        <div class="sc-fHxwqH foqDNf"></div>
                    </div><div class="sc-kXeGPI hkOzft">
                    <img src="https://media.bunjang.co.kr/product/255540526_1_1709538305_w268.jpg" alt="상품 이미지">
                    <div class="sc-iFMziU eyCCxv">배송비포함</div>
                    <div class="sc-gVLVqr iovqKN"></div>
                </div>
                    <div class="sc-ugnQR huitHV">
                    <div class="sc-fyjhYU jgwDOt">
                        <div class="sc-eIHaNI deAGaV">유희왕 천공기사 네오파샤스 일판 얼티 미개봉</div>
                        <div class="sc-dxZgTM ySSXL"><div>150,000</div>
                        </div><div class="sc-eTpRJs gimUQy">1주 전</div>
                    </div><div class="sc-iomxrj dUXZPL">
                    <img src="/pc-static/resource/5dcce33ad99f3020a4ab.png" width="15" height="17" alt="위치 아이콘">위치없음</div>
                </div>
                </a>
            </div>
        </div>
    </div>
    <div class="sc-dBaXSw kVTaan"></div>
</div>
</body>
</html>