.dfsUMO {
    font-size: 18px;
    padding: 50px 0px 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.dLpRgo {
    color: rgb(247, 47, 51);
}

.csJElQ {
    margin-bottom: 30px;
}

.lnBpRH {
    margin: 25px 0px 20px;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.kEasLh {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.foqDNf {
    width: 24px;
    height: 24px;
    border: 1px solid rgb(238, 238, 238);
    cursor: pointer;
    transition: border 0.2s ease 0s, background-color 0.2s ease 0s;
    position: relative;
}

.foqDNf::before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent rgb(204, 204, 204) rgb(204, 204, 204) transparent;
    width: 8px;
    height: 14px;
    transform: rotate(40deg);
    transform-origin: 100% 100%;
}

.foqDNf::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    width: 0px;
    height: 0px;
    transform: rotate(40deg);
    transform-origin: 100% 100%;
    transition: width 0.1s ease-out 0s, height 0.1s ease-out 0.1s;
}

.kEasLh button {
    margin-left: 10px;
}

 .hwayJk {
     padding: 0px 10px;
     height: 28px;
     border: 1px solid rgb(238, 238, 238);
     display: flex;
     -webkit-box-align: center;
     align-items: center;
     -webkit-box-pack: center;
     justify-content: center;
     font-size: 13px;
     background: rgb(255, 255, 255);
     color: rgb(136, 136, 136);
 }

 button {
     background-color: transparent;
     cursor: pointer;
     outline: none;
 }

.dRITiR {
    display: flex;
    font-size: 13px;
}

.kvYcBO {
    margin-right: 20px;
    position: relative;
    display: block;
}

.irojwT {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.fyCynF:nth-last-child(-n+2):nth-child(2n+1), .fyCynF:nth-last-child(-n+2):nth-child(2n+1) ~ .fyCynF {
    margin-bottom: 0px;
}


 .fyCynF {
     width: 502px;
     margin-bottom: 20px;
 }

.kAXfEi {
    width: 100%;
    height: 140px;
    display: flex;
    border: 1px solid rgb(238, 238, 238);
    position: relative;
}


 a {
     color: rgb(33, 33, 33);
     text-decoration: none;
     cursor: pointer;
 }
